html {
    padding: 20px;
    background-color: rgb(50, 88, 172);
}

body {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    border: solid;
    border-width: 2px;
    width: 600px;
    padding: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.line {
    width: 500px;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
}

h2 {
    text-align: left;
    padding-left: 15px;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}

p {
    font-size: 20px;
    text-align: left;
    font-family: 'Abel', sans-serif;
}

.button {
    background-color: skyblue;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    border: none;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {opacity: 1}